* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

/* input (text) hover animation */
input[type="text"],
select {
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}
input[type="text"]:focus,
select:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
    animation: highlight-once 0.3s forwards;
}
@keyframes highlight-once {
    to {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
        border-radius: 1px;
    }
}
